/* General Information */

position: absolute;
width: 460px;
height: 53px;
left: 1561px;
top: 256px;

transform: rotate(180deg);


/* Rectangle 50 */

box-sizing: border-box;

position: absolute;
width: 454px;
height: 47px;
left: 1564px;
top: 259px;

background: linear-gradient(0deg, rgba(255, 255, 255, 0) 41.87%, #FFFFFF 413.39%), linear-gradient(180deg, rgba(255, 255, 255, 0) 45.95%, #FFFFFF 278.39%);
border: 0.374494px solid #FFFFFF;


/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 1561px;
top: 301px;



/* Vector 54 */

position: absolute;
width: 8px;
height: 0px;
left: 1561px;
top: 305px;

border: 2px solid #FFFFFF;


/* Vector 55 */

position: absolute;
width: 8px;
height: 0px;
left: 1565px;
top: 301px;

border: 2px solid #FFFFFF;
transform: rotate(-90deg);


/* Group 55 */

position: absolute;
width: 8px;
height: 8px;
left: 1561px;
top: 256px;



/* Vector 54 */

position: absolute;
width: 8px;
height: 0px;
left: 1561px;
top: 260px;

border: 2px solid #FFFFFF;


/* Vector 55 */

position: absolute;
width: 8px;
height: 0px;
left: 1565px;
top: 256px;

border: 2px solid #FFFFFF;
transform: rotate(-90deg);


/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 2013px;
top: 301px;



/* Vector 54 */

position: absolute;
width: 8px;
height: 0px;
left: 2013px;
top: 305px;

border: 2px solid #FFFFFF;


/* Vector 55 */

position: absolute;
width: 8px;
height: 0px;
left: 2017px;
top: 301px;

border: 2px solid #FFFFFF;
transform: rotate(-90deg);


/* Group 55 */

position: absolute;
width: 8px;
height: 8px;
left: 2013px;
top: 256px;



/* Vector 54 */

position: absolute;
width: 8px;
height: 0px;
left: 2013px;
top: 260px;

border: 2px solid #FFFFFF;


/* Vector 55 */

position: absolute;
width: 8px;
height: 0px;
left: 2017px;
top: 256px;

border: 2px solid #FFFFFF;
transform: rotate(-90deg);


/* General Information */

position: absolute;
width: 257px;
height: 36px;
left: 1577px;
top: 264px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;

color: #FFFFFF;



/* General Information Section */

position: absolute;
width: 454px;
height: 362px;
left: 1564px;
top: 323px;

transform: rotate(180deg);


/* Container */

position: absolute;
width: 454px;
height: 362px;
left: 1564px;
top: 323px;

transform: rotate(180deg);


/* Rectangle 53 */

position: absolute;
width: 453px;
height: 361px;
left: 1565px;
top: 324px;

background: linear-gradient(303.52deg, #034DA1 -11.48%, rgba(3, 77, 161, 0) 82.93%), linear-gradient(123.48deg, rgba(240, 90, 34, 0.6) -7.19%, rgba(240, 90, 34, 0) 100%);


/* Vector 56 */

position: absolute;
width: 454px;
height: 50px;
left: 1564px;
top: 323px;

background: linear-gradient(303.52deg, #034DA1 -11.48%, rgba(3, 77, 161, 0) 82.93%), linear-gradient(123.48deg, rgba(240, 90, 34, 0.6) -7.19%, rgba(240, 90, 34, 0) 100%);
border: 1px solid #FFFFFF;


/* Vector 57 */

position: absolute;
width: 454px;
height: 50px;
left: 1564px;
top: 635px;

background: linear-gradient(303.52deg, #034DA1 -11.48%, rgba(3, 77, 161, 0) 82.93%), linear-gradient(123.48deg, rgba(240, 90, 34, 0.6) -7.19%, rgba(240, 90, 34, 0) 100%);
border: 1px solid #FFFFFF;
transform: rotate(-180deg);


/* Vector 58 */

position: absolute;
width: 0px;
height: 247px;
left: 2018px;
top: 381px;

background: linear-gradient(303.52deg, #034DA1 -11.48%, rgba(3, 77, 161, 0) 82.93%), linear-gradient(123.48deg, rgba(240, 90, 34, 0.6) -7.19%, rgba(240, 90, 34, 0) 100%);
border: 1px solid #FFFFFF;


/* Vector 59 */

position: absolute;
width: 0px;
height: 247px;
left: 1564px;
top: 381px;

background: linear-gradient(303.52deg, #034DA1 -11.48%, rgba(3, 77, 161, 0) 82.93%), linear-gradient(123.48deg, rgba(240, 90, 34, 0.6) -7.19%, rgba(240, 90, 34, 0) 100%);
border: 1px solid #FFFFFF;


/* General Info 01 */

position: absolute;
width: 405px;
height: 79px;
left: 1575px;
top: 337px;

transform: rotate(180deg);


/* Rectangle 57 */

position: absolute;
width: 177px;
height: 2px;
left: 1609px;
top: 414px;

background: #F05A22;


/* Rectangle 58 */

position: absolute;
width: 169px;
height: 2px;
left: 1788px;
top: 414px;

background: #ED1B2E;


/* Rectangle 59 */

position: absolute;
width: 1px;
height: 76px;
left: 1575px;
top: 339px;

background: #FFFFFF;


/* Rectangle 60 */

position: absolute;
width: 384px;
height: 70px;
left: 1590px;
top: 341px;

background: rgba(255, 255, 255, 0.15);


/* Vector 66 */

box-sizing: border-box;

position: absolute;
width: 21px;
height: 17.5px;
left: 1585px;
top: 337px;

border: 1px solid #FFFFFF;


/* Vector 68 */

position: absolute;
width: 21px;
height: 17.5px;
left: 1959px;
top: 338px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 67 */

position: absolute;
width: 21px;
height: 17.5px;
left: 1585px;
top: 398px;

border: 1px solid #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector 69 */

position: absolute;
width: 21px;
height: 17.5px;
left: 1959px;
top: 398px;

border: 1px solid #FFFFFF;
transform: rotate(180deg);


/* Submarine cables are fiber-optic cables laid on the ocean floor that carry over 95% of international data and voice traffic worldwide — far exceeding satellite capacity in speed, volume, and reliability. */

position: absolute;
width: 361px;
height: 48px;
left: 1601px;
top: 354px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 12px;
/* or 133% */
text-align: justify;

color: #FFFFFF;



/* Key Statistic */

position: absolute;
width: 84px;
height: 18px;
left: 1573px;
top: 458px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;



/* Divider */

position: absolute;
width: 417px;
height: 4px;
left: 1573px;
top: 441px;

transform: rotate(180deg);


/* Vector 70 */

position: absolute;
width: 415px;
height: 0px;
left: 1575px;
top: 443px;

border: 1px solid #FFFFFF;


/* Rectangle 62 */

position: absolute;
width: 4px;
height: 4px;
left: 1573px;
top: 441px;

background: #FFFFFF;


/* Rectangle 63 */

position: absolute;
width: 4px;
height: 4px;
left: 1986px;
top: 441px;

background: #FFFFFF;


/* Key_statistic 01 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1575px;
top: 493px;

transform: rotate(180deg);


/* Vector 71 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1575px;
top: 493px;

background: rgba(3, 77, 161, 0.44);


/* Vector 72 */

position: absolute;
width: 14.23px;
height: 14.23px;
left: 1575px;
top: 493px;

background: #FFFFFF;
border: 2.29828px solid #FFFFFF;


/* 95%+ */

position: absolute;
width: 84px;
height: 39px;
left: 1593px;
top: 499px;

font-family: 'B612 Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FF4D00;



/* of global internet traffic */

position: absolute;
width: 156px;
height: 13px;
left: 1593px;
top: 538px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #FFFFFF;



/* Key_statistic 02 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1575px;
top: 570px;

transform: rotate(180deg);


/* Vector 71 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1575px;
top: 570px;

background: rgba(3, 77, 161, 0.44);


/* Vector 72 */

position: absolute;
width: 14.23px;
height: 14.23px;
left: 1575px;
top: 570px;

background: #FFFFFF;
border: 2.29828px solid #FFFFFF;


/* 1.3M */

position: absolute;
width: 84px;
height: 39px;
left: 1593px;
top: 575px;

font-family: 'B612 Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #F05A22;



/* km of cable on seafloors */

position: absolute;
width: 144px;
height: 13px;
left: 1593px;
top: 617px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #FFFFFF;



/* Key_statistic 03 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1785px;
top: 493px;

transform: rotate(180deg);


/* Vector 71 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1785px;
top: 493px;

background: rgba(3, 77, 161, 0.44);


/* Vector 72 */

position: absolute;
width: 14.23px;
height: 14.23px;
left: 1785px;
top: 493px;

background: #FFFFFF;
border: 2.29828px solid #FFFFFF;


/* 600+ */

position: absolute;
width: 84px;
height: 39px;
left: 1803px;
top: 501px;

font-family: 'B612 Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #F05A22;



/* cables worldwide (2024) */

position: absolute;
width: 138px;
height: 13px;
left: 1803px;
top: 538px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #FFFFFF;



/* Key_statistic 04 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1785px;
top: 571px;

transform: rotate(180deg);


/* Vector 71 */

position: absolute;
width: 194px;
height: 65.86px;
left: 1785px;
top: 571px;

background: rgba(3, 77, 161, 0.44);


/* Vector 72 */

position: absolute;
width: 14.23px;
height: 14.23px;
left: 1785px;
top: 571px;

background: #FFFFFF;
border: 2.29828px solid #FFFFFF;


/* 1866 */

position: absolute;
width: 84px;
height: 39px;
left: 1803px;
top: 575px;

font-family: 'B612 Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FF4D00;



/* first trans-Atlantic cable */

position: absolute;
width: 156px;
height: 13px;
left: 1803px;
top: 617px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #FFFFFF;

